.navigation{
	display: block;
	left: 50%;
	margin-left: -135px;
	position: absolute;
	top: 100px;
	&__list{
		animation: 1s slide-down 1.2s backwards;
		width: 270px;
		&__item{
			display: inline-block;
			margin: 10px 10px;
			text-align: center;
			&__link{
				color: $text-color-light;
				@include font-size($navi-font-sizes);
			}
		}
	}
	&-button{
		animation: 1s slide-left 1.5s backwards;
		@extend %button;
		@include font-size($navi-font-sizes);
		background-color: $text-color-light;
		color: $text-color-dark;
		position: absolute;
		right: 15px;
		top: 30px;
	}
	&-dots{
		animation: 1s slide-left 1.8s backwards;
		margin-top: -72.5px;
		position: absolute;
		right: 15px;
		top: 50vh;
		&__list{
			&__item{
				background-color: $dot-color;
				border-radius: 15px;
				display: block;
				height: 15px;
				padding: 1px;
				width: 15px;
				&:not(:last-child){
					margin-bottom: 15px;
				}
				&--check{
					background-color: $text-color-light;
				}
			}
		}
	}
}

@media (min-width: 640px){
	.navigation{
		top: 42px;
		&-button{
			right: 40px;
		}
		&-dots{
			right: 30px;
		}
	}
}

@media (min-width: 900px){
	.navigation{
		margin-left: -210px;
		top: 40px;
		&__list{
			width: 420px;
			&__item{
				margin: 10px 20px;
				text-align: center;
				&__link{
					color: $text-color-light;
				}
			}
		}
		&-button{
			right: 60px;
			top: 40px;
		}
		&-dots{
			right: 76px;
		}
	}
}
