.slide-three{
	@include slide-template('../img/bg-3.jpg');
	@include slide-regular;
	&__img{
		right: 20px;
		width: 45%;
	}
}
@media (min-width: 900px){
	.slide-three{
	  padding-top: 180px;
	  padding-left: 160px;
	  text-align: left;
	  &__img{
	    display: block;
	    right: 0;
	  }
	}
}
@media (min-width: 1440px){
	.slide-three{
	  padding-top: 250px;
	  &__img{
	    width: auto;
	  }
	}
}