.slide-two{
	@include slide-template('../img/bg-2.jpg');
	@include slide-regular;
	&__img{
		right: 20px;
		width: 35%;
	}
}
@media (min-width: 900px){
	.slide-two{
	  padding-top: 180px;
	  padding-left: 160px;
	  text-align: left;
	  &__img{
	    display: block;
	    right: 130px;
	  }
	}
}
@media (min-width: 1440px){
	.slide-two{
	  padding-top: 250px;
	  &__img{
	    width: auto;
	    right: 150px;
	  }
	}
}
