.slide-two{
	@include slide-template('../img/bg-2.jpg');
	padding-top: 250px;
	padding-left: 160px;
	position: relative;
	text-align: left;
	&__header{
		@extend %header;
	}
	&__description{
		@extend %description-middle;
	}
	&__small-section{
		&__header{
			@extend %header-small;
		}
		&__description{
		@extend %description-small;
		}
	}
	&__img{
		animation: 1s slide-left backwards 1.2s paused; 
		bottom: 0;
		position: absolute;
		right: 150px;
	}
}