//MIXINS//

//font size
@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == 'null' {
      font-size: $fs-font-size;
    }
    @else {
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

//template slide
@mixin slide-template($image-location) {
  background: url($image-location) center no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

@mixin slide-regular{
  padding-top: 150px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  text-align: center;
  &__header{
    @extend %header;
    max-width: 700px;
  }
  &__description{
    @extend %description-middle;
  }
  &__small-section{
    &__header{
      @extend %header-small;
    }
    &__description{
    @extend %description-small;
    }
  }
  &__img{
    animation: 1s slide-left backwards 1.2s paused; 
    bottom: 0;
    display: none;
    position: absolute;
  }
}
